<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Book Shop</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
      <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
      <header>
        <div class="field is-grouped">
            <p class="control">
                <button class="button is-link">
                    Add Book
                </button>
            </p>
            <p class="control">
                <button class="button">
                    Update Book
                </button>
            </p>
            <p class="control">
                <button class="button is-danger">
                    Delete Book
                </button>
            </p>
        </div>
      </header>
        <section class="section">
          <div class="container">
            <h1 class="title">
            Book Shop
            </h1>
            <p class="subtitle">
                Search for your favorite books!
            </p>
          </div>
          <div class="field">
              <label class="label"></label>
              <div class="control">
                  <input class="input is-focused" type="text" placeholder="Insert Book ID here">
                <div class="control btn">
                  <button class="button is-primary">Search</button>
                </div>
              </div>
          </div>
        </section>
        <footer class="footer">
          <div class="content has-text-centered">
              <p>
                  <strong>Flask REST API</strong> by <a href="https://duartealmeida.com">Duarte Almeida</a>. The source code
                  is licensed
                  <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                  is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
              </p>
          </div>
        </footer>
    </body>
  </html>