* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #6190e8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.is-grouped {
  position: absolute;
  right: 0;
  margin-top: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.subtitle {
  padding: 10px;
  font-size: 1.1rem;
}

.control {
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

input[type="text"] {
  width: 30%;
  padding: 12px 20px;
  box-sizing: border-box;
}

.btn {
  display: flex;
  flex-direction: column;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem 1rem 3rem;
}
